@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
/*noto sans 맑은고딕 @import방식으로 불러오기*/

*{margin:0; padding:0; box-sizing:border-box;}

body{
font-family: 'Noto Sans KR', sans-serif;
font-size:0.75em;  /*body안에 웹사이트 기본 사이즈 0.75em서체 지정*/
color:#000;

position:relative;
        }
a{
text-decoration:none;
color:#000;
}
      
li{
list-style:none;
}


/****************배경***********************/
.bg{
	
	width:100%;
	height:350px;
  background:#ff0000 url("../img/detail/kko_bg.jpg")
  no-repeat top -40px center/cover;
  padding:20px;
  margin:0 auto;
	margin-top:140px;

	position:relative;
}
/*배경어둡게*/
.bg::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.2);
}
.bg h4{width:70%;
margin:0 auto;
padding:10px;
color:#fff;
font-size:20px;
position:absolute;
left:20%;
z-index:2;
}

.bg h1{
  font-size:40px;
  font-weight:bold;
  width:70%;
margin:0 auto;
padding:20px;
color:#fff;
position:absolute;
z-index:2;
top:80px;
left:20%;
}

/****************************************************************/



h4.text1{
  width:50%;
  border-bottom:5px solid #ff0000;
  padding:20px;
  margin:0 auto;
  font-weight:600;
}
h2.text2{width:50%;
  border-bottom:4px solid #ff0000;
  padding:70px 0  20px 20px;
  margin:0 auto;
  font-size:3em;
}



/********************************리스트 메뉴******************************************/

				
div.container-right-menu{
 width:100%;
 font-size:12px;
background:#eee;
font-weight:300;  /*위에 여백*/
overflow:hidden;
/* border:2px solid blue; */
}
div.container-right-menu>.right-inner{
  width:20%;
  /* border:2px solid red; */
  float:right;
  display:flex;
align-items:center;
justify-content: center;
  overflow:hidden;
padding:10px;
margin-right:50px;

 
}
div.container-right-menu>.right-inner p{
  width:auto;
  text-align:center;
  box-sizing:border-box;
  margin:0 5px;


}
div.container-right-menu>.right-inner>p>a>img{
  vertical-align:bottom;
}
div.container-right>.right-inner>p>a{
	color:#666;
  display:block;

}
div.container-right-menu>.right-inner>p>a:hover{
  color:#eb1925;
}








/*표************************************************************/
.box3{
	/* border:3px solid green; */
   width:50%;
  margin:0 auto;
  text-align:center;
  margin-top:50px;
  margin-bottom:100px; /*밀어내기용*/
}
.box3 table{
	width:100%;
	  border-collapse:collapse;
	    margin:0 auto;
}
.box3 caption{
  font-size:2em;
  margin:20px;
}
.box3 thead{
  border-top:5px solid #333;
  
}
.box3 tfoot{
  border-bottom:5px solid #333;
  
}
.box3  table tr{
 
}
.box3  table th{
  font-weight:600;
  width:15%;
  border:1px solid #bababa;
  border-left:none;
  background:#e0e0e0;
 
}
.box3  table td{
  width:9.44444%;
  height:50px;
  line-height:50px;
  border:1px solid #bababa;
  border-right:none;
 
}
.box3 figcaption{
  text-align:left;
  font-size:.75em;
  margin-top:5px;
}

/*제품설명글************************박스4************/
.box4{
  width:50%;
  margin:0 auto;
    border-top:4px solid #333;
   border-bottom:4px solid #333;
  padding:20px 0 10px 10px;
  
}
.box4 p{
  font-size:50px;
  border-bottom:1px solid #333;
  margin:10px;
  padding:10px;
  overflow:hidden;
}
.box4 p img{
	width:25%;
  float:right;
}
.box4 pre{
  font-size:14px;
  margin-top:30px;
}



/*왼쪽메뉴*************************************************/

.side-container{
  width:180px;
   border-radius:5px;
  border-right:10px solid red;
  border-bottom:8px solid #ff0000;
  background:#ff0000;
  text-align:center;
  padding-top:10px;
  position:fixed;
  top:160px;
  left:0px;
 
  
}
.side-container h3{
  margin:10px;
  border:1px solid #ff0000;
  font-size:14px;
   color:#ffffff;
  font-weight:600;
}
.side-container p.side-menu{
  
  margin:0 20px 0 20px;
   color:#ffffff;
  /* border:1px solid red; */
  font-size:20px
  
}
.side-container ul{
  margin-top:10px;
  background:#ffffff;
  border-radius:0 5px 5px 0;
 /*border:1px solid green;*/
}
.side-container ul li{

  font-size:12px;
  height:30px;
  line-height:30px;
  border-bottom:1px solid #ff0000;
  position:relative;
}
.side-container ul li:last-child{
  border:none;
}



.side-container ul li a{
  display:block;
  
}
.side-container ul li a:hover{
  
  
}

.side-container ul li a:hover::after{
  content:">";
  position:absolute;
  top:0;
  right:10px;
  font-size:20px;
  font-weight:600;
  color:#eb1925;
  
}





/**********************꼬북칩그림**********************************/
.inner{
  /*border:1px solid red;*/ /*화면표시용*/
  width:50%;
  margin:0 auto;
  border-bottom:2px solid #eb1925;
  padding-bottom:20px;
}
.inner .box1{

height:600px;
  width:80%;
  margin:0 auto;
 /* border-bottom:2px solid #eb1925;*/
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
}
.inner .box1 img{
	width:80%;
	vertical-align:middle;
}

/*작은이미지네개*/
.inner .box2{
   width:80%;
  cursor:pointer;
   overflow:hidden;
    margin:0 auto;
   overflow:hidden;
  margin-top:10px;
}
.inner .box2 .item{
 float:left;
 height:125px;

  width:24.625%;
    margin-right:.5%;
  box-sizing:border-box;
  overflow:hidden;
  text-align:center;
}
.inner .box2 .item:hover{
	border:2px solid #333;
}
.inner .box2 .item img{
	width:100%;
	vertical-align:bottom;
}

.inner .box2 .item:last-child{
  margin:0;
}
